.form-container{
    width:30%;
    margin: 0 auto;
}

.page-title{
    text-align: center;
}

.page-head{
    color: #5bc0de;
    font-family: Fira;
    font-size: 10px;
    align-content: center;
    text-align: center
}

.ifarm-main{
    background: darkgrey;
}

.ifarm-content{
    width: 20%;
    height: 500px;
}
.file-upload{
    width: 20%;
}