.nav-side-left {
    width: 10%;
    background-color: #fafafa;
}

.nav-left {
    list-style: none;

}

.nav-left a {
    color: #777;
    font-size: 15px;
}

.bar-user {
    background-color: #e5e5e5;
}

.con {
    display: inline;
}

/*.item-ul {*/
    /*float: left;*/
    /*margin-left: 2%;*/
    /*margin-right: 1%;*/

/*}*/

/*.item-div {*/
    /*margin-right: 2%;*/
    /*overflow: hidden;*/
/*}*/