{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index-login-regist.css') }}">
{% endblock %}
{% block content %}
<form action="" method="POST">
     {{ form.csrf_token }}
    <div class="form-container">
        <div class="form-group">
            {{ form.telephone(class="form-control") }}<br/>
            {% for message in form.telephone.errors %}}
                <small>{{ message }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.username(class="form-control") }}<br/>
            {% for message in form.username.errors %}}
                <small>{{ message }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password(class="form-control") }}<br/>
            {% for message in form.password.errors %}}
                <small>{{ message }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password2(class="form-control") }}<br/>
            {% for message in form.password2.errors %}}
                <small>{{ message }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </div>
</form>
{% endblock %}